#Test Coverage Directory
coverage

# Build direcotry
.next

# Editors
/.idea
/.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules

# macOS
*.DS_Store

# Local environment variable
.npmrc
.creds
